 h1{
color: brown;
font-size: 40px;
}
p{
    font-size: 20px;

}
a{
    text-decoration: navy;
    font-size: 20px;
    font-weight: bold;
}
footer{
    color: darkblue;
    font-size: 20px;

}

span{
    font-style: italic;
    font-weight: bold;
    color: green;
}