
.intro {
  font-weight: bold;
  color: brown;
  font-size: 16px;
  margin-bottom: 48px;
}

.card {
  width: 50%;
  border: 2px solid #000;
  padding: 16px;
}

.card-img {
  width: 50%;
  height: auto;
  display: block;
  margin-bottom: 12px;
}

.card-desc {
  font-size: 12px;
}
